.category {
    background-color: skyblue;
    margin-top: 30px;
    font-size: 1.2em;
}

.row {
    display: grid;
    grid-template-columns: 10% auto;
}

.row-header {
    grid-template-areas: 
        "blank scale-header";
}
.row-student {
    grid-template-areas: 
        "student scale";
}

.row-student:nth-child(even){
    background-color: #eaeaea;
}

.row-student:nth-child(odd){
    background-color: white;
}

.row-student:hover {
    background-color: lightgoldenrodyellow;
}

.highlight{
    background-color: lightblue;
}

.blank {
    grid-area: blank;
}

.student {
    grid-area: student;
}

.scale-header {
    display: flex;
    justify-content:left;
    grid-area: scale-header;
}

.scale {
    display: flex;
    justify-content:left;
    grid-area: scale;
}

.scale-title {
    background-color: lightgray;
    width: 25%;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 2px black;
}

.input {
    width: 25%;
    text-align: center;
}

.border {
    border-right: solid 1px black;
}

.scale-description {
    display: none;
    position: fixed;
    width: 200px;
    box-shadow: 3px 3px 3px 3px black;
    padding: 5px;
    border-radius: 5px;
    background-color:greenyellow;
    z-index: 50;
}

#submit {
    text-align:center;
    margin: 50px 0;
}

#submit > button {
    font-size: 2em;
    box-shadow: 3px 3px 3px;
}

#submit > button:active {
    box-shadow: -3px -3px 3px;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aeaeae;
    box-shadow: 3px 3px 3px gray;
}

input[type="radio"]:checked{
    background-color: blue;
    box-shadow: -1px -1px 2px gray;
}
